
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

    RewriteBase /eGo/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]

    RewriteRule _data(.*)           [R=404,L]
    RewriteRule application(.*)     [R=404,L]
    RewriteRule resources(.*)\W$    [R=404,L]
    RewriteRule system(.*)          [R=404,L]
</IfModule>
